@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  background-image: url(/public/pngtree-logistics-warehouse-picture-image_1675386\ 1.png);
  object-fit: cover;
  width: 100%;
}

.text-stroke {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  color: transparent;
}

.inputBorder {
  border-color: #8b8b8b;
}
.inputBorder:focus {
  border-color: rgb(255, 0, 89);
}
